**/*~
**/*#
**/.#*
**/*.pyc
**/*.p
**/*.log
**/*.out
**/script.sh
**/*.temp
**/*.zip
**/*cpython*
config.json
temp/*
**/*.pem
core_dump.sql
**/*.sqlite3
**/*.idea*
**/*.xml
**/*.xlsx
.Rproj.user
config.json
.Rhistory
*.Rproj
**/coverage_html/*
.vscode
.venv
*.RData
*.rds
*.csv
.vs/
*/.vs
*/.DS_Store
*.png
credentials.R